# R studio junk
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore large files
assignments/data/*
assignments/output/*
project/megahit/*
project/build/*
project/output/*
rna.fna

data/*fast*

project/data/*