# R studio junk
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore large files
assignments/data/*
assignments/output/*
project/output/f1b_species.txt
project/output/f2r_species.txt
project/data/*

# Probably not needed but scared to remove
rna.fna
data/*fast*